.projects {
  border-bottom: 3px solid rgb(255, 255, 255);
  width: 500px;
  margin: auto;

  padding: 10px;
}

.img-siz {
  height: 400px;
  width: 300px;
  margin: 20px;
  padding: 10px;
}
.button {
  margin: auto;
  border: 2px solid red;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 15px;
}

.button:hover {
  background-color: rgba(255, 0, 34, 0.808);
  border: 2px solid rgb(45, 17, 90);
}

.button:hover button {
  font-weight: 600;
}
